.paginator {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}

.paginator > button {
  user-select: none;
}

.paginator > :first-child {
  margin-right: 0.5rem;
}

.paginator > :last-child {
  margin-left: 0.5rem;
}

.paginator:has(:nth-child(3):last-child) {
  display: none;
}
